.navbar {
    display: flex;
    gap: 20px;
    padding: 15px 30px;
    background-color:darkslateblue;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.navbar a:hover {
  color: #00bcd4;
}