.navbar {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  background-color: #0b1622;
  position: relative;
  z-index: 1000;
}

.logo {
  margin-right: auto;
}

.logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #00bcd4;
  box-shadow: 
    0 0 5px #00bcd4,      /* subtle glow */
    0 0 20px #00bcd4;     /* extra soft glow */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.logo img:hover {
    transform: scale(1.1);  /* slightly enlarge */
    box-shadow: 
        0 0 10px #00bcd4,
        0 0 30px #00bcd4;
}

/* LINKS — right side */
.nav-links {
  display: flex;
  gap: 20px;
  font-size: larger;
}

.navbar a {
  color: blanchedalmond;
  text-decoration: none;
  font-weight: 500;
}

.navbar a:hover {
  color: #00bcd4;
}
