.navbar {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 15px 30px;
    background-color:#0b1622;
    text-align: right;
    font-size: large;
}

.navbar a {
  color: blanchedalmond;
  text-decoration: none;
  font-weight: 500;
}

.navbar a:hover {
  color: #00bcd4;
}